<div class="biography-section">
  <h2>{{localize "NARUTO_RPG.Details.biography"}}</h2>
  <div class="biography-container">
    {{editor enrichedBiography target="system.biography" button=true editable=isEditable}}
  </div>
</div>
